
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #168d84;
  --secondary-color: #ad6016;
  --alt-color: #fff;
  --overlay: rgba(0,0,0,0.8);
  --container-width: 90vw;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

header{
 background-color: rgb(222, 162, 73);
 height: 105px;
 position: fixed;
 z-index: 10;
}

.nav {
 box-shadow: none;
 padding-top: 2em;
 position: fixed;
 background-color: rgb(222, 162, 73);
 height: 105px;
}

.logo-nav{
  height: 50px;
  z-index: 10;
  background-color: rgb(222, 162, 73);
}

.material-icons {
  color: #000;
  margin-left: -.9em;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
  width: var(--container-width);
  z-index: 10;
}

.container .brand {
  color: var(--alt-color);
  font-weight: lighter;
}

.main-info{
  padding-top: 45px;
}

.menu a {
  color: var(--alt-color);
  font-size: 1em;
  text-decoration: blanchedalmond;

}

.menu a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.main-info .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  width: var(--container-width);
  align-items: center;
}

.absolute-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.absolute-title h3 {
  font-size: 10em;
  font-weight: bold;
  position: absolute;
  color: rgba(0,0,0,0.1);
}

.main-info img {
  max-width: 100%;
}

.img-3{
  width: 100%;
}

.filosofia-valores{
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  justify-self: center;
}

img.img-valores{
  width: 350px;
  padding: 10px;
  border-radius: 10px;

}

.img-portada{
  width: 100%;
}

.perrito1{
  border-radius: 10px;
  width: 400px;
}

h1 {
  font-weight: bold;
}

.main-info span {
  color: var(--alt-color);
}

.main-info p {
  margin-bottom: 1em;
}

.btn-info {
  background-color: var(--primary-color);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.btn-info:hover {
  background-color: var(--alt-color);
}

.overlay-section {
  background-image: url(../img/perrito_2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  height: 67vh;
  background-color: var(--overlay);
}

.overlay .container {
  color: #fff;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overlay .container h3 {
  font-weight: lighter;
}

.overlay .container h2 {
  font-size: 5rem;
  text-align: center;
}

.overlay .container p {
  text-align: center;
  font-weight: lighter;
  font-size: 1.2rem;
}

.products {
  display: block;
  height: 80vh;
  width: 100vw;
  padding: 50px;
}

.product-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;
  padding-top: 2em;
}

.divider {
  width: 200px;
  height: 5px;
  background-color: var(--alt-color);
  margin: 0 auto;
}

.carousel {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.carousel .carousel-item h5 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.skew {
  margin-top: 15rem;
}

.our-drummers {
  background-color: #000;
  z-index: 90;
}

.our-drummers h2 {
  text-align: center;
  color: #fff;
  margin-top: -.2em;
}

.gallery {
  margin-top: 7em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.gallery a:first-child {
  grid-row: 1/3;
  grid-column: 1/3;
}

.gallery a:nth-child(2) {
  grid-column: 3/5;
}

.gallery a, 
.gallery img {
  width: 100%;
  height: 100%;
}


.contact {
  background-image: url(../img/perritos-conacto.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.container-form {
  padding: 5em 3em;
  width: 40%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.container-form textarea {
  height: 15em;
  color: #fff;
  padding: 1em;
}

.container-form button {
  margin-top: 2em;
}


.footer {
  background-color: #000;
  color: #fff;
  padding: 4rem 0;
}

.footer h2 {
  text-align: center;


}

.social-media{
  justify-content: center;

}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.social-media .fab {
  margin-right: 20px;
  font-size: 2em;
  color: var(--alt-color);
}

.social-media .fab:hover {
  color: var(--primary-color);
}

.info a,
.blog a {
  color: var(--alt-color);
}

.donar{
  width: 100%;
  height: 650px;
  text-align: center;
}

.footer-container{
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.contenedor-mp{
  border-color: var(--primary-color);
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 230px;
  border-style: double;
  display: flex;
}

.link-mp{
  height: 180;

}

.formas-pago{
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.donacion-mp{
  border-color: var(--secondary-color);
  border-bottom: #ad6016;
  background-color: var(--primary-color);
  height: 200px;
  z-index: -10;
}


@media screen and (max-width: 1020px) {
  h1 {
    font-size: 3rem;
  }
  
  .absolute-title h3 {
    font-size: 6rem;
  }

  .overlay-section .overlay h2 {
    font-size: 2.5rem;
  }
  
  .carousel .carousel-item img {
    width: 500px;
    height: 400px;
  }

  .container-form {
    padding: 5em 3em;
    width: 55%; 
    display: flex;
    flex-direction: column;
  }
  
  .container-form textarea {
    height: 15em;
    color: #fff;
    padding: 1em;
  }
  
}


@media screen and (max-width: 920px) {

  .absolute-title h3 {
    display: none;
  }

  .main-info .container {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    padding-bottom: 3em;
    margin-top: 3em;
  }

}

@media screen and (max-width: 700px) {
  .main-info .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer h3,
  .info h3,
  .blog h3 {
    font-size: 1.5em;
  }

}


@media screen and (max-width: 600px) {
  .drummers .gallery {
    display: flex;
    flex-direction: column;
  }
  
  .container-form {
    width: 80%; 
  }

  .social-media {
    display: flex;
    align-items: center;
  }

  .social-media .fab {
    font-size: 1.2em;
    margin-top: .5em;
  } 


}